.house-picked-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  padding: 105px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background: hsl(237, 49%, 15%);
}
