* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --scissors-grad: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
  --paper-grad: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --rock-grad: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
